@model dynamic

<style>
    head, body, html {
        background-color: #121212;
        color: #e0e0e0;
    }
    
    a {
        color: #bb86fc;
    }
</style>

@{
    ViewData["Title"] = "Income Vs Expense Report";
}

<h2>Income Vs Expense Report</h2>
<p>Report from @Model.StartDate.ToString("d") to @Model.EndDate.ToString("d")</p>

<div>
    <p><strong>Income:</strong> @Model.Income.ToString("C")</p>
    <p><strong>Expenses:</strong> @Model.Expenses.ToString("C")</p>
    <p><strong>Financial Result:</strong> @Model.FinancialResult.ToString("C")</p>
</div>