@model IEnumerable<CompanyBudgetTracker.Models.CategoryModel>

<h2>Categories</h2>

<p>
    <button id="btnAddCategory" type="button">Add New Category</button>
</p>

<table>
    <thead>
    <tr>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>
                <button class="btnEditCategory" data-id="@category.Id">Edit</button>
                <button class="btnDeleteCategory" data-id="@category.Id">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnAddCategory").click(function () {
                window.location.href = '@Url.Action("Add", "Categories")';
            });

            $(".btnEditCategory").click(function () {
                var categoryId = $(this).data("id");
                window.location.href = '@Url.Action("Edit", "Categories")' + '/?id=' + categoryId;
            });

            $(".btnDeleteCategory").click(function () {
                var categoryId = $(this).data("id");
                var confirmation = confirm("Are you sure you want to delete this category?");
                if (confirmation) {
                }
            });
        });
    </script>
}