@model IEnumerable<CompanyBudgetTracker.Models.CostIncomeModel>

@{
    ViewData["Title"] = "Cost / Income history";
}

<h2>@ViewData["History"]]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Attachment</th>
        </tr>
    </thead>
    <tbody>
@foreach (var record in Model)
{
        <tr>
            <td>@record.Id</td>
            <td>@record.Name</td>
            <td>@record.Type</td>
            <td>@record.Amount</td>
            <td>@record.Date.ToShortDateString()</td>
            <td>@record.Attachment</td>
        </tr>
}
    </tbody>
</table>