@using CompanyBudgetTracker.Controllers
@model IEnumerable<CompanyBudgetTracker.Models.CostIncomeModel>

@{
    ViewData["Title"] = "Cost / Income history";
}

<style>
    head, body, html {
        background-color: #121212;
        color: #e0e0e0;
    }
    
    a {
        color: #bb86fc;
    }
</style>

<h2>@ViewData["History"]</h2>

<form method="get" action="@Url.Action("GetHistory", "CostIncome")">
    <div class="form-group">
        <div class="filtering-class">
            <label for="itemId">ID:</label>
            <input type="number" id="itemId" name="itemId" class="form-control"/>
            <label for="itemName">Name:</label>
            <input type="text" id="itemName" name="itemName" class="form-control"/>
            <label for="itemType">Type:</label>
            <input type="text" id="itemType" name="itemType" class="form-control"/>
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" class="form-control"/>
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" class="form-control"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
    <button type="submit" class="btn btn-primary">Clear filters</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            <a href="@Url.Action("GetHistory", "CostIncome", new { sortOrder = ViewBag.IdSortParm })">ID</a>
        </th>
        <th>
            <a href="@Url.Action("GetHistory", "CostIncome", new { sortOrder = ViewBag.NameSortParm })">Name</a>
        </th>
        <th>
            <a href="@Url.Action("GetHistory", "CostIncome", new { sortOrder = ViewBag.TypeSortParm })">Type</a>
        </th>
        <th>
            <a href="@Url.Action("GetHistory", "CostIncome", new { sortOrder = ViewBag.AmountSortParm })">Amount</a>
        </th>
        <th>
            <a href="@Url.Action("GetHistory", "CostIncome", new { sortOrder = ViewBag.DateSortParm })">Date</a>
        </th>
        <th>AttachmentName</th>
        <th>AttachmentContentType</th>
        <th>Settled</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var record in Model)
    {
        <tr>
            <td>@record.Id</td>
            <td>@record.Name</td>
            <td>@record.Type</td>
            <td>@record.Amount</td>
            <td>@record.Date.ToShortDateString()</td>
            <td>@record.AttachmentName</td>
            <td>@record.AttachmentContentType</td>
            <td>@record.Settled</td>
            <td>
                <a href="@Url.Action("Details", "CostIncome", new { itemId = record.Id })" class="btn btn-info">Details</a>
            </td>
            <td>
                @if (!record.Settled)
                {
                    <a href="@Url.Action("Settle", "CostIncome", new { itemId = record.Id, settled = true })"
                       class="btn btn-primary"> Settle </a>
                }
                else
                {
                    <button class="btn btn-primary" disabled>Settle</button>
                }
            </td>
            <td>
                <a href="@Url.Action("DeleteRecord", "CostIncome", new { itemId = record.Id })"
                   id="deleteBtn" class="btn btn-primary"> Delete </a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="7" style="text-align: right;"><strong>Total:</strong></td>
        <td>@ViewData["TotalAmount"]</td>
    </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @((int)ViewData["CurrentPage"] == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("GetHistory", new { page = (int)ViewData["CurrentPage"] - 1 })">Previous</a>
        </li>
        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
        {
            <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "active" : "")">
                <a class="page-link" href="@Url.Action("GetHistory", new { page = i })">@i</a>
            </li>
        }
        <li class="page-item @(ViewData["CurrentPage"].ToString() == ViewData["TotalPages"].ToString() ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("GetHistory", new { page = (int)ViewData["CurrentPage"] + 1 })">Next</a>
        </li>
    </ul>
</nav>

<style>
    .filtering-class {
        display: flex;
        align-items: center;
        gap: 10px;
    }
</style>