@{
    ViewData["Title"] = "Costs and Incomes";
}

<style>
    head, body, html {
        background-color: #121212;
        color: #e0e0e0;
    }
    a {
        color: #bb86fc;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("RedirectToNewRecord", "CostIncome")" class="btn btn-secondary">Add New Cost / Income</a>
    <a href="@Url.Action("GetHistory", "CostIncome")" class="btn btn-secondary">View History</a>
</div>
@section Scripts
{
    <script type="text/javascript">
        document.getElementById('deleteRecordBtn').addEventListener('click', function () {
            window.location.href = '@Url.Action("DeleteRecord", "CostIncome")'
        });
    </script>
    <script type="text/javascript">
        document.getElementById('addRecordBtn').addEventListener('click', function () {
            window.location.href = '@Url.Action("RedirectToNewRecord", "CostIncome")'
        });
    </script>
    <script type="text/javascript">
        document.getElementById('viewHistoryBtn').addEventListener('click', function () {
            window.location.href = '@Url.Action("GetHistory", "CostIncome")'
        });
    </script>
}
